{
	auto_https off
}

:80 {
	@web host join.co.id www.join.co.id
	handle @web {
		reverse_proxy web:3000
	}

	@api host api.join.co.id
	handle @api {
		reverse_proxy api:8000
	}

	handle {
		respond "Not found" 404
	}
}
